In [1]:
import pandas as pd
data = pd.read_csv("constant_beta_1D.csv")
data

      energy  magnetization
0       -128             14
1       -160              4
2       -144              4
3       -160             -2
4       -136            -24
...      ...            ...
1995    -144            -28
1996    -152            -16
1997    -152              0
1998    -144            -12
1999    -168             20

[2000 rows x 2 columns]